#app{
  height:90vh;
}
.night{
  background-color: black;
  color:blue;
}
.day{
	backdrop-color:white;
	color:black;
}
#swap{
  outline:0;
}

.button_night{
  background-color:blue;
  color:white; 
}
